/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 @import "bootstrap";

 /* Dropdown and button spacing */
.preview-send-form {
  display: flex;
  align-items: center;
}

.preview-send-form .form-select {
  flex: 1;   
  margin-right: 15px;
}

.preview-send-form .btn {
  flex: 0 0 auto;     
}
/* Add space after Preview button */
.card-footer .preview-send-form:first-child .btn {
  margin-right: 15px; 
}



.email-buttons .btn {
  margin-right: 15px;
}

.email-buttons .btn:last-child {
  margin-right: 0; 
}

.alert.hide {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}




